*{ /* l'étoile indique que toutes les balises de la page devront respecter cette règle*/
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins";
}

#container { /* le conteneur*/
    padding:20px;
    min-height:100vh; /* 100% du conteneur*/
    display:flex; /*une carte a coter de l'autre*/
    justify-content: center;/* alignement horizontal*/
    align-items: center;/* alignement vertical*/
    gap: 20px;/* écart entre card*/
    /*background: rgba(9, 91, 207, 0.966);/* couleur de fond*/
    flex-wrap: wrap;/* permet d'adapter à la taille de l'écran seulement si display est flex sinon marche pas*/ 
}

/* ************************************** Fond d'écran ****************************************** */

.bg {
    animation:slide 3s ease-in-out infinite alternate;
    background-image: linear-gradient(-60deg, rgb(19, 87, 123) 50%, rgb(19, 115, 174) 50%);
    bottom:0;
    left:-50%;
    opacity:.5;
    position:fixed;
    right:-50%;
    top:0;
    z-index:-1;
}
  
.bg2 {
    animation-direction:alternate-reverse;
    animation-duration:6s;
}
  
.bg3 {
    animation-duration:7s;
}
   
@keyframes slide {
    0% {
      transform:translateX(-25%);
    }
    100% {
      transform:translateX(25%);
    }
}

/* ************************************** Cartes ****************************************** */

.card{
    background: rgb(183, 217, 236);
    width: 250px;
    /*border:5px solid rgb(226, 66, 114);  enlever à la fin*/
    border-radius: 30px;/* arrondi des anglles si 500 % cela fait un rond*/
    overflow: hidden; /* permet de masquer tout ce qui "déborde" de la carte */
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px; /* ombre portée sur la carte */
    transition: 0.5s;
    filter:contrast(5%);/*La fonction CSS contrast() permet d'ajuster le contraste d'une image. Le résultat de cette fonction est une valeur de type <filter-function>.*/
}

/*.card:hover .coeur {
    left: 0;
    opacity: 1;
}*/

.card:hover {
    filter: contrast(1);/* retire le contraste lorsque la souris passe*/
    transform: scale(1.3); /* zoom */
    box-shadow: rgba(9, 20, 233, 0.762) 20px 20px 20px ; /* Ombre de la carte */
    /*box-shadow: rgba(10, 155, 157, 0.631) 0px -13px 15px 0px inset, rgba(10, 155, 157, 0.631)0px -16px 10px 0px inset, rgba(10, 155, 157, 0.631) 0px -19px 10px 0px inset, rgba(10, 155, 157, 0.631) 0px 2px 1px, rgba(33, 214, 84, 0.709) 0px 4px 5px, rgba(33, 214, 84, 0.709) 0px 8px 4px, rgba(33, 214, 84, 0.709)  5px 16px 8px, rgba(24, 157, 62, 0.742)  0px 12px 16px;/* Ombre de la carte */
    margin:20px;
    z-index: 1; /* Permet de mettre a un plan au-desssus des autres cartes */
    transition: 0.5s; /* transition de l'animation */
    /*filter: grayscale(0); /* couleur (noir et blanc = 0) */
}

.card-header{
    position: relative;
    height: 150px;
    overflow: hidden;
}

.card-header img{
    width:100%;
    height: 100%;
    object-fit: cover;
    /* object-position: center; si elle sont pas identique en taille */
    /*filter: grayscale(1); /* noir et blanc */
    transition: 0.5s;
}

.card-text{
    text-align: justify;
    padding:30px/*marge interne*/
}
.card-text h1{
    margin-bottom: 10px;/* ecrat du titre par rapport au texte */
    font-style: 25px;
    font-weight: 700;
}

.card-text p {
    font-size: 14px;
    color:rgb(77, 73, 73);
    font-weight: 300;
}

/* ************************************** Coeur d'angle cartes ****************************************** */

/*.coeur {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background: rgb(214, 113, 172);
    font-size: 20px;
    position: absolute;
    top: 0;
    left: -40px;
    transition: 1s;
    opacity: 0;
}

.coeur a {
    color: #fff;
}*/

footer{
    font-size: 20px;
    text-align: center;
    padding: 10px;
    background: gray;
}